<!-- <div style="background-color:gray;" class="d-flex ">
    <div class="container-fluid py-5 my-5 image10">
        
    <div class="float-end">
        <div style="background-color:black; display: inline-block;" class=" text-light py-4 px-5">
            <h4>Why Choose Mahavir AV Solution</h4>
            <p>At MVS, we're attempting to reconsider the work and living spaces of the 21st <br> 
                century. We intend to engage individuals and organizations in the change to a <br>
                 whole new way of work and life – that is more beneficial, engaging and <br>
                  supportable.</p>
                  <br>
                  <ul>
                      <li>Help improve operational effectiveness and efficiency.</li>
                      <li>Create innovative audio-visual communication environments.</li>
                      <li>Work on the activity of an increasingly complex ecosystem of devices and technologies.</li>
                  </ul>

        </div>
    </div>
    </div>


</div> -->
<app-page2 
[data]="pName"
(dataid)="getid($event)"
></app-page2>