<!-- <div class="">
    <nav class="navbar navbar-expand-lg fixed-top view">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Kishor Jagtap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span><i class="bi bi-bricks"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="box">
            <img src="../assets/ballon-removebg-preview.png" alt="" srcset="">
        </div>
    </div>
    <div class="bg-warning" style="height: 100vh;">
        <div class="container">
            <div class="row" style="height: 89vh;top: 60px;position: relative;">
                <div class="col-md-6 text-center text-light align-self-center">

                    <h2>I am Kishor Jagtap</h2>
                    <h2>And I'm <span class="text-danger">{{name1}} {{name2}} {{name3}}</span> </h2>
                </div>
                <div class="col-md-6 text-center align-self-center">
                    <img src="../assets/mv1.jpeg" class="img-fluid" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
    <div class="bg-info">
        <div class="container">
            <div class="row" style="height: 89vh;top: 60px;position: relative;text-align: -webkit-center;">
                <h2 class="text-center ">Education</h2>
                <div class="col-md " *ngFor="let c of card">
                    <div class="">

                        <div class="card m-3" style="width: 18rem;">
                            <img [src]="c.img" class="card-img-top" alt="">
                            <div class="card-body">
                                <h1 class="card-title">{{c.name}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<router-outlet></router-outlet>