<div class="d-flex pb-4">
    <div class="ps-5 pt-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d30272.844747978816!2d73.8619718!3d18.4788756!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3bc2eb1c7fb97933%3A0xd0f8dd30f1102596!2sMahavir%20av%20solutions%20130%2C%20Parshwanath%20Nagar%2C%20Siddhivinayak%20Apartment%20Shaniwar%20Peth%20Pune%2C%20Maharashtra%20411030!3m2!1d18.4788756!2d73.86197179999999!5e0!3m2!1sen!2sin!4v1639839761682!5m2!1sen!2sin"
         width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="mx-5 px-3 mt-5" style="background-color: gray;">
        <div>
            <h2 class="text-center pt-2">Contact Us</h2>
            <p style="font-size: 10px;">Mahavir AV Solutions Team Is Happy To Answer Your Sales Questions. Fill Out The Form And We’ll Be In Touch As Soon As Possible.</p>
        </div>
    
        <form class="row g-3 text-light " >
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Full Name</label>
              <input type="text" class="form-control" placeholder="Enter Full Name">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Email</label>
              <input type="email" class="form-control" placeholder="Enter Email">
            </div>
            <div class="col-6">
              <label for="inputAddress" class="form-label">Phone Number</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Enter Phone Number">
            </div>
            <div class="col-6">
              <label for="inputAddress2" class="form-label">Looking for</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Looking for">
            </div>
            <div class="col-12">
                <label for="inputAddress2" class="form-label">Message</label>
              <input type="text" class="form-control" placeholder="Enter Message">
            </div>
            <div class="col-12 text-center">
              <button type="submit " class="btn btn-danger">Send</button>
            </div>
          </form>

    </div>
</div>